node_id={{ repmgr_node_id }}
node_name={{ inventory_hostname }}
conninfo='host={{ ansible_tinc0.ipv4.address }} user=repmgr dbname=repmgr connect_timeout=2'
data_directory='/var/lib/postgresql/11/main'
config_directory='/etc/postgresql/11/main'
failover=automatic

promote_command='sudo /usr/local/bin/ansible-playbook /var/local/ansible/pgbouncer_configure.yml -e repmgr_action=promote'
follow_command='sudo /usr/local/bin/ansible-playbook /var/local/ansible/pgbouncer_configure.yml -e repmgr_action=follow -e repmgr_node=%n'

service_promote_command='pg_ctlcluster 11 main promote'
log_file='/var/log/postgresql/repmgr.log'
log_level=NOTICE
reconnect_attempts=4
reconnect_interval=5

service_start_command   = 'sudo pg_ctlcluster 11 main start'
service_stop_command    = 'sudo pg_ctlcluster 11 main stop'
service_restart_command = 'sudo pg_ctlcluster 11 main restart'
service_reload_command  = 'sudo pg_ctlcluster 11 main reload'
