global
  maxconn 4096

defaults
    mode                tcp
    # Timeout values should be configured for your specific use.
    # See: https://cbonte.github.io/haproxy-dconv/1.8/configuration.html#4-timeout%20connect
    timeout connect     10s
    timeout client      1m
    timeout server      1m
    # TCP keep-alive on client side. Server already enables them.
    option              clitcpka

listen psql
    bind :26256
    mode tcp
    balance roundrobin
    option httpchk GET /health?ready=1
    server cockroach0 {{ ansible_host }}:26257 check port 8080
{% for cockroach_node in cockroachdb_join %}
    server cockroach{{ loop.index }} {{ cockroach_node }}:26257 check port 8080
{% endfor %}